[DEFAULT]
DatabaseType = sqlite
DatabaseName = runescape_grand_exchange_data.db
ItemRunescapeBaseUrl = http://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=
NameToIdBaseUrl = https://www.runelocus.com/tools/rs-item-id-list/?search=
TopPriceFallsUrl = http://services.runescape.com/m=itemdb_rs/top100?list=3
TopPriceRisesUrl = http://services.runescape.com/m=itemdb_rs/top100?list=2
TopPriceValuesUrl = http://services.runescape.com/m=itemdb_rs/top100?list=1
TopPriceMostTradedUrl = http://services.runescape.com/m=itemdb_rs/top100?list=0